:root {
    --dod-color: #000000;
    --main-color: #ffffff;

    --search-bg: rgb(255, 255, 255, 0.6);
    --link-menu-color: rgb(0, 0, 0, 0.6);
    
    --home-bg: url('./Pages/HomePage/img/dark.jpg');
    --people-bg: url('./Pages/PeoplePage/img/dark.jpg');
    --person-bg: url('./Pages/PersonPage/img/dark.jpg');
    --spells-bg: url('./Pages/SpellsPage/img/dark.jpg');
    --uniq-bg: url('./Pages/UniqPage/img/dark.jpg');
}

body{
    height: auto;
    font-family: sans-serif;
    background-color: var(--dod-color);
}